.container-fluid {
    border: 0.5px solid #e3e4e6;

}


.search_form {
    background-color: #d9d6d6;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.form-control::placeholder {
    text-align: center;

}

.letters_bar {
    width: 1rem;
    position: absolute;
    right: 0;
    top: 16px;
    z-index: 999;
}

.contacts {    background-color: whitesmoke;
}
.category{
    background-color: rgb(204, 198, 198);
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.media {
    height: 4rem;
    border-bottom: 1px solid #e3e4e6;
}

