.title {
    border-bottom: 2px solid rgba(59, 153, 240, 0.699);
    margin-bottom: 2rem;

}



.media {
    height: 8rem;
}

.imgLabel {
    cursor: pointer;
}


.form-control {
    border: none;
    border-bottom: 2px solid rgba(59, 153, 240, 0.699);
    border-radius: 0;
}

.form-control.ng-touched.ng-invalid {
    border-color: f5c6cb;
}


.alert {
    padding: 0;
    border: none;
}

button {
    font-size: 1.25rem;
    font-family: sans-serif;
}

.btn {
    border-radius: 0.75rem !important;
}

.add-btn {
    background-color: rgb(20, 190, 94);
}

.cancel-btn {
    background-color: rgb(37, 37, 116);
}


@media (max-width: 400px) { 

    button {
        font-size: 0.8rem;
    }
    
 }