<section class="container p-2">
  <!-- Start The Form -->
  <form #f="ngForm" (ngSubmit)="addContact(f)" class="w-100" @fade>
    <h2 class="title">Add a New Contact</h2>
    <section class="form-row">
      <!-- Add Photo -->
      <section class="col-12">
        <section class="media w-100 flex-column justify-content-between">
          <a class="h-100 mx-auto border-danger" href="#">
            <img src="../../assets/avatar.png" alt="" class="h-100">
          </a>
        </section>
        <section class="text-center form-group col-12">
          <label for="#addImage" class="imgLabel" (click)="chooseFile()">Add Photo</label>
          <input *ngIf="show" ngModel name="image" #image="ngModel" type="file" class="form-control" id="addImage"
            (change)="changImg(image.value)">
        </section>
      </section>

      <!-- First Name input -->
      <section class="form-group col-12">
        <input ngModel name="firstName" #firstName="ngModel" 
          type="text" pattern="^[A-Za-z]{3,9}$" class="form-control"
          placeholder="First Name" required>
        <!-- First Name Alarts -->
        <section class="alert alert-danger pb-0">
          <section *ngIf="firstName.touched && firstName.errors?.required">
            First Name is required</section>
          <section *ngIf="firstName.touched && firstName.errors?.pattern">
            First Name is invalid</section>
        </section>
      </section>
      <!-- Last Name input -->
      <section class="form-group col-12">
        <input ngModel name="lastName" #lname="ngModel" 
          type="text" pattern="^[A-Za-z]{3,9}$" class="form-control" 
          placeholder="Last Name" required>
        <!-- Last Name Alarts -->
        <section class="alert alert-danger pb-0">
          <section *ngIf="lname.touched && lname.errors?.required">
            Last Name is required</section>
          <section *ngIf="lname.touched && lname.errors?.pattern">
            Last Name is invalid</section>
        </section>
      </section>
      <!-- City Code select -->
      <section class="form-group  col-12">
        <section class="d-flex">
          <select ngModel #city="ngModel" id="cityCode" name="cityCode" type="text"
            class="form-control w-25 mr-1 custom-select text-right" required>
            <option value=""></option>
            <option *ngFor="let code of phoneCodes;" class="text-right">+{{code}}</option>
          </select>
          <!-- Mobile Number input -->
          <input ngModel #phone="ngModel" pattern="^(\d{10}){1}?$" 
            minlength="7" maxlength="11" id="mobileNumber" name="mobileNumber" 
            type="text" class="form-control" placeholder="Mobile Number"  required>
        </section>
        <!-- Mobile Number Alerts -->
        <section class="alert alert-danger pb-0">
          <section *ngIf="phone.touched && phone.errors?.required">
            Phone Number is required.</section>
          <section *ngIf="phone.touched && phone.errors?.minlength">
            minimum 7 digits.</section>
          <section *ngIf="phone.touched && phone.errors?.maxlength">
            maximum 10 digits.</section>
          <section *ngIf="phone.touched && phone.errors?.pattern">
            the number not vaild.</section>
        </section>
      </section>
      <!-- Email input -->
      <section class="form-group col-12">
        <input ngModel #email="ngModel" name="email"
          pattern="^[a-zA-Z0-9.!#$%&\'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
          required id="email" placeholder="Email Address" type="text" class="form-control">
        <!-- Email Alarts -->
        <section class="alert alert-danger pb-0">
          <section *ngIf="email.touched && email.errors?.required">
            Email is required</section>
          <section *ngIf="email.touched && email.errors?.pattern">
            Your input doesn't match email format
          </section>
        </section>
      </section>
      <!-- Form Buttons -->
      <section class="col-12">
        <button [disabled]="f.invalid" class="btn  d-block mx-auto mb-1 btn w-50 text-white add-btn">
          Add Contacts
        </button>
        <button class="btn cancel-btn d-block mx-auto w-50 text-white">Cancel</button></section>
      <!-- <p>{{f.value | json}}</p> -->
    </section>
  </form>
</section>
